// $navbar-default-bg: #312312;
// $navbar-default-bg: #222;
$navbar-default-bg: rgba(0, 0, 0, .5);
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

/* General */

body {
  padding-top: 60px;
}

#homepage {
  background-image: url(image_path("unsplash-food-2.jpg"));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.navbar-solid {
  background-color: #000E2C;
}

#logo {
  float: left;
  margin: 10, 10, 10, 0;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 5px;
  
}

a#logo,
a#logo:hover {
  text-decoration: none;
}

.nav-item {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  text-align: center;
}

.pagination {
  margin: 0;
}

.pagination > li > a {
  border: 1px solid #288DAB;;
  border-radius: 30%;
  margin: 3px;
  color: #288DAB;
}  

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus,
.pagination > li > a:active, 
.pagination > li > a:hover,
.pagination > li > a:focus {
  background-color: #288DAB;
  border-color: #288DAB;
  color: #fff;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  display: none;
}

.btn-sm {
  margin-top: 2px;
}

.btn-info {
    color: #fff;
    background-color: #288DAB;
    border-color: #288DAB;
}

.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

// forms
.form-chef,
.form-recipe,
.form-register {
  background-color: #00415F !important;
}

.form-chef label,
.form-recipe label,
.form-register label,
span.picture input {
  color: #fff;
}

input, 
textarea {
  padding: 5px;
}

/* Home Page */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  // font-size: 1.5em;
  font-size: 1.3em;
  margin-bottom: 30px;
  color: #fff;
}

.jumbotron {
  // background-color: rgba(0, 0, 0, .7);
  background-color: transparent;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 80vh;
}

.home-section-2 {
  margin-top: 30px;
}

.midrow-subtitle  {
  margin-top: 0;
}

/* Recipes Page */

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

/* Create Recipe Page */

.well {
  background-color: #ededed;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input{
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}

/* Footer */

footer {
  margin-top: 10px;
  // border-top: 1px solid #222;
  // padding-top: 10px;
  text-align: center;
  color: #fff;
}

// Recipe Index Page 

.nav-tabs {
  margin-bottom: 30px;
}

.nav-tabs > li > a {
  color: #288DAB;
  border: 1px solid transparent;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #288DAB;
  border: 1px solid transparent;
}


// Recipe Show Page

.recipe-show-summary {
  margin-bottom: 20px;
}

.recipe-show-btns {
  margin-top: 30px;
}

.recipe-show-btn-delete {
  margin-top: 10px;
  margin-bottom: 50px;
}
.recipe-show-description {
  margin-top: 30px;
}



